<section id="technologies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tecnologias</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img width="30%" height="30%" src="{{ 'rails-logo.png' | theme_image_url }}">
                    <h3>Rails</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img width="30%" height="30%" src="{{ 'ruby-logo.png' | theme_image_url }}">
                    <h3>Ruby</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img width="70%" height="70%" src="{{ 'groovy-logo.png' | theme_image_url }}">
                    <h3>Groovy</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img width="40%" height="40%" src="{{ 'grails-logo.png' | theme_image_url }}">
                    <h3>Grails</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img width="35%" height="35%" src="{{ 'phonegap-logo.png' | theme_image_url }}">
                    <h3>Phone Gap</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img width="33%" height="33%" src="{{ 'html5-logo.png' | theme_image_url }}">
                    <h3>HTML 5</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img width="30%" height="30%" src="{{ 'javascript-logo.png' | theme_image_url }}">
                    <h3>JavaScript</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Banco de Dados Open Source</h3>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>